@import "../../shared/config/theme.scss";

.button {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  transition: all 0.1s ease-in;

  label {
    color: color(white60Opacity);
  }

  svg path {
    fill: color(white60Opacity);
  }

  &.selected {
    label {
      color: color(gray);
    }
    svg path {
      fill: color(gray);
    }
  }

  &:focus {
    background-color: color(fullWhite);
    label {
      color: rgba(0, 0, 0, 1);
    }
    svg path {
      fill: rgba(0, 0, 0, 1);
    }
  }
}
