.button {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  transition: all 0.1s ease-in;

  label {
    color: rgba(255, 255, 255, 0.6);
  }

  svg path {
    fill: rgba(255, 255, 255, 0.6);
  }

  &.selected {
    label {
      color: #cccccc;
    }
    svg path {
      fill: #cccccc;
    }
  }

  &:focus {
    background-color: #fff;
    label {
      color: rgba(0, 0, 0, 1);
    }
    svg path {
      fill: rgba(0, 0, 0, 1);
    }
  }
}
