.featured-content-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 70vh;
  width: 100vw;
  position: relative;
  padding-left: 7rem;
  z-index: 500;
  justify-content: center;

  .featured-content {
    width: 50vw;
    background: blue;
  }

  h1 {
    display: flex;
    flex: 1;
  }
  button {
    flex: 1;
    border: none;
    height: 4rem;

    label {
      font-size: 1.2rem;
      font-weight: 400;
    }

    svg {
      margin-right: 1.4rem;
      width: 1.4rem;
      height: 1rem;
    }
  }
}
