@import "../../shared/config/theme.scss";

.left-navigation-wrapper {
  align-items: center;
  background: color(black85Opacity);
  border-right: 1px color(white01Opacity) solid;
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1001;

  nav {
    display: flex;
    flex-direction: column;
  }

  button {
    border: none;
    height: 4rem;
    padding: 0 2rem;

    label {
      font-size: 1.2rem;
      font-weight: 400;
      display: none;
    }

    svg {
      margin-right: 0;
      width: 1.4rem;
    }
  }

  &:focus-within {
    button {
      padding: 0 4rem 0 2rem;

      label {
        display: flex;
      }

      svg {
        margin-right: 1.4rem;
      }
    }
  }
}
