.left-navigation-wrapper {
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  border-right: 1px rgba(255, 255, 255, 0.1) solid;
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1001;

  &.hidden {
    button {
      padding: 0 2rem;

      label {
        display: none;
      }
      svg {
        margin-right: 0;
      }
    }
  }

  button {
    border: none;
    height: 4rem;
    padding: 0 4rem 0 2rem;

    label {
      font-size: 1.2rem;
      font-weight: 400;
    }

    svg {
      margin-right: 1.4rem;
      width: 1.4rem;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
  }
}
