@import "../../shared/config/theme.scss";

.content-wrapper-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  top: 0;
  width: 100vw;
  z-index: 100;

  div.details {
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    width: 50vw;
    max-width: 28rem;
  }

  div.actions {
    display: flex;
    margin-top: 2rem;
  }

  img.programLogo {
    margin-bottom: 2rem;
    width: 12rem;
  }

  h1 {
    color: color(gray);
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0.5rem;
  }

  h2 {
    color: color(gray);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 0.5rem;
  }

  button {
    border-width: 2px;
    border-radius: 3px;
    border-color: color(fullWhite);
    color: color(fullWhite);
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-right: 2rem;
    padding: 1rem 2rem;
    text-align: center;

    svg {
      margin-right: 1rem;
      width: 1.3rem;
      height: 1.3rem;
    }

    &:focus {
      font-size: 1.2rem;
    }
  }

  &.trail {
    div.details {
      margin-top: -16rem;
    }
  }
}
