.content-wrapper-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 100;
}
