@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "../../shared/config/theme.scss";

*:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
label {
  font-family: "Open Sans";
}

.App {
  background: color(fullBlack);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
